<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WikiUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WikiUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WikiUpload.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="WikiUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberPassword" serializeAs="String">
                <value>True</value>
            </setting>
        </WikiUpload.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WikiUpload.Properties.Settings>
            <setting name="UploadDelay" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ImageExtensions" serializeAs="String">
                <value>png;jpg;jpeg;gif;ico;svg;webp;bmp;tif;tiff</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>Default</value>
            </setting>
        </WikiUpload.Properties.Settings>
    </applicationSettings>
</configuration>