<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WikiUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WikiUpload.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="WikiUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="UploadDelay" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ImageExtensions" serializeAs="String">
                <value>png;jpg;jpeg;gif;ico;svg;webp;bmp;tif;tiff</value>
            </setting>
            <setting name="RememberPassword" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FollowUploadFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RateLimitedBackoffPeriod" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ContentFileExtension" serializeAs="String">
                <value>wikitext</value>
            </setting>
            <setting name="MainWindowPlacementEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowPlacement" serializeAs="Xml">
                <value>
                    <WindowPlacement xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <length>0</length>
                        <flags>0</flags>
                        <showCmd>0</showCmd>
                        <minPosition>
                            <X>0</X>
                            <Y>0</Y>
                        </minPosition>
                        <maxPosition>
                            <X>0</X>
                            <Y>0</Y>
                        </maxPosition>
                        <normalPosition>
                            <Left>0</Left>
                            <Top>0</Top>
                            <Right>0</Right>
                            <Bottom>0</Bottom>
                        </normalPosition>
                    </WindowPlacement>
                </value>
            </setting>
            <setting name="UploadedWindowPlacementEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UploadedWindowPlacement" serializeAs="Xml">
                <value>
                    <WindowPlacement xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <length>0</length>
                        <flags>0</flags>
                        <showCmd>0</showCmd>
                        <minPosition>
                            <X>0</X>
                            <Y>0</Y>
                        </minPosition>
                        <maxPosition>
                            <X>0</X>
                            <Y>0</Y>
                        </maxPosition>
                        <normalPosition>
                            <Left>0</Left>
                            <Top>0</Top>
                            <Right>0</Right>
                            <Bottom>0</Bottom>
                        </normalPosition>
                    </WindowPlacement>
                </value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InitialAddToWatchlist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InitialIgnoreWarnings" serializeAs="String">
                <value>False</value>
            </setting>
        </WikiUpload.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>