<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.2.6" targetFramework="net472" developmentDependency="true" />
  <package id="MahApps.Metro.IconPacks.FontAwesome" version="4.5.0" targetFramework="net472" />
  <package id="Microsoft.Windows.Shell" version="3.0.1.0" targetFramework="net472" />
  <package id="Ninject" version="3.3.4" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="3.17.0" targetFramework="net472" />
  <package id="PropertyChanged.Fody" version="3.2.9" targetFramework="net472" />
</packages>