<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define WikiUpload_TargetDir=$(var.WikiUpload.TargetDir)?>

  <Product Id="{7C3A4216-86E4-40B4-818B-BEAABCCA9D52}"
           Name="Wiki-Up"
           Language="1033"
           Version="1.10.0.0"
           Manufacturer="Aspallar"
           UpgradeCode="{5DBEE1B6-4D18-4F36-BEA8-74C89ADD342B}">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of Wiki-Up is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon" SourceFile="$(var.WikiUpload.ProjectDir)Images\Logo\navigate-up-icon.ico" />
    <Property Id="ARPPRODUCTICON">AppIcon</Property>
    <Property Id="ARPURLINFOABOUT">https://github.com/Aspallar/Wiki-Up</Property>

    <WixVariable Id="WixUIDialogBmp" Value="Background.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" />

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <!-- Skips the license dialog -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="!(loc.LaunchWikiup)" />
    <Property Id="WixShellExecTarget" Value="[#WikiUp.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <Feature Id="ProductFeature" Title="WikiUpInstaller" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ProductShortcut" />
      <ComponentGroupRef Id="locale_deDE" />
      <ComponentGroupRef Id="locale_etEE" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="WikiUp">
          <Directory Id="LocaleFolder_deDE" Name="de-DE" />
          <Directory Id="LocaleFolder_etEE" Name="et-EE" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" />
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

      <!-- application files -->
      <Component Id="WikiUp.exe" Guid="5b498955-2daf-471c-9276-edee62761a81">
        <File Id="WikiUp.exe" Name="WikiUp.exe" Source="$(var.WikiUpload_TargetDir)WikiUp.exe" KeyPath="yes" />
      </Component>
      <Component Id="WikiUp.exe.config" Guid="fd424b39-4f9e-4e60-af79-51559887592c">
        <File Id="WikiUp.exe.config" Name="WikiUp.exe.config" Source="$(var.WikiUpload_TargetDir)WikiUp.exe.config" KeyPath="yes" />
      </Component>

      <!-- Mahapps icon pack -->
      <Component Id="MahApps.Metro.IconPacks.Core.dll" Guid="a16aa7ff-e6a3-4368-b4e3-855b1031e053">
        <File Id="MahApps.Metro.IconPacks.Core.dll" Name="MahApps.Metro.IconPacks.Core.dll" Source="$(var.WikiUpload_TargetDir)MahApps.Metro.IconPacks.Core.dll" KeyPath="yes"/>
      </Component>
      <Component Id="MahApps.Metro.IconPacks.FontAwesome.dll" Guid="309d62ff-7718-4a1e-8c90-54bf10ad8771">
        <File Id="MahApps.Metro.IconPacks.FontAwesome.dll" Name="MahApps.Metro.IconPacks.FontAwesome.dll" Source="$(var.WikiUpload_TargetDir)MahApps.Metro.IconPacks.FontAwesome.dll" KeyPath="yes"/>
      </Component>

      <!-- Ninject DI Franework -->
      <Component Id="Ninject.dll" Guid="1a52b4aa-eb8a-4d10-9fde-f919612b930a">
        <File Id="Ninject.dll" Name="Ninject.dll" Source="$(var.WikiUpload_TargetDir)Ninject.dll" KeyPath="yes"/>
      </Component>

      <!-- ToggleSwitch -->
      <Component Id="ToggleSwitch.dll" Guid="0f57a084-0581-4145-bbcc-f3237a1c288a">
        <File Id="ToggleSwitch.dll" Name="ToggleSwitch.dll" Source="$(var.WikiUpload_TargetDir)ToggleSwitch.dll" KeyPath="yes"/>
      </Component>
      
      <!-- AngleSharp -->
      <Component Id="AngleSharp.dll" Guid="adca39ea-0cdd-492e-aa28-3def7082717f">
        <File Id="AngleSharp.dll" Name="AngleSharp.dll" Source="$(var.WikiUpload_TargetDir)AngleSharp.dll" KeyPath="yes"/>
      </Component>
      <Component Id="System.Runtime.CompilerServices.Unsafe.dll" Guid="cec14f5a-b9f2-4912-a423-999d6a4ddc84">
        <File Id="System.Runtime.CompilerServices.Unsafe.dll" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.WikiUpload_TargetDir)System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes"/>
      </Component>
      <Component Id="System.Text.Encoding.CodePages.dll" Guid="4b988c37-68e0-4fcb-9b9e-5ea0e5f3bd99">
        <File Id="System.Text.Encoding.CodePages.dll" Name="System.Text.Encoding.CodePages.dll" Source="$(var.WikiUpload_TargetDir)System.Text.Encoding.CodePages.dll" KeyPath="yes"/>
      </Component>

      <!-- Google (Youtube) -->
      <Component Id="Google.Apis.Auth.dll" Guid="{94FA5A54-DCA3-4F83-9CFB-9E458EF644BC}">
        <File Id="Google.Apis.Auth.dll" Name="Google.Apis.Auth.dll" Source="$(var.WikiUpload_TargetDir)Google.Apis.Auth.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Google.Apis.Auth.PlatformServices.dll" Guid="{4DBC012A-ED57-4545-95C3-B9AF70E4B124}">
        <File Id="Google.Apis.Auth.PlatformServices.dll" Name="Google.Apis.Auth.PlatformServices.dll" Source="$(var.WikiUpload_TargetDir)Google.Apis.Auth.PlatformServices.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Google.Apis.Core.dll" Guid="{16177E3F-73B5-4B63-8FAC-8169F7782D12}">
        <File Id="Google.Apis.Core.dll" Name="Google.Apis.Core.dll" Source="$(var.WikiUpload_TargetDir)Google.Apis.Core.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Google.Apis.dll" Guid="{ED045B39-F894-48EF-B439-96934DC49B4D}">
        <File Id="Google.Apis.dll" Name="Google.Apis.dll" Source="$(var.WikiUpload_TargetDir)Google.Apis.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Google.Apis.PlatformServices.dll" Guid="{62D212F3-AD84-4271-B32C-CAAB2D14057F}">
        <File Id="Google.Apis.PlatformServices.dll" Name="Google.Apis.PlatformServices.dll" Source="$(var.WikiUpload_TargetDir)" KeyPath="yes"/>
      </Component>
      <Component Id="Google.Apis.YouTube.v3.dll" Guid="{63AD947C-AB58-4B72-955C-371FD93AEBB5}">
        <File Id="Google.Apis.YouTube.v3.dll" Name="Google.Apis.YouTube.v3.dll" Source="$(var.WikiUpload_TargetDir)Google.Apis.YouTube.v3.dll" KeyPath="yes"/>
      </Component>

      <!-- Newtonsoft JSON -->  
      <Component Id="Newtonsoft.Json.dll" Guid="{CB1AA7E3-4321-4A0C-A417-05E57136088F}">
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.WikiUpload_TargetDir)Newtonsoft.Json.dll" KeyPath="yes"/>
      </Component>
      
      <!--  Ookii.Dialogs.Wpf.dll (Select Folder Dialog) -->
      <Component Id="Ookii.Dialogs.Wpf.dll" Guid="{ADE05561-8F44-4F68-9E13-37DA37ED9096}">
        <File Id="Ookii.Dialogs.Wpf.dll" Name="Ookii.Dialogs.Wpf.dll" Source="$(var.WikiUpload_TargetDir)Ookii.Dialogs.Wpf.dll" KeyPath="yes"/>
      </Component>

    </ComponentGroup>

    <ComponentGroup Id="locale_deDE" Directory="LocaleFolder_deDE">
      <Component Id="WikiUp.resources.deDE.dll" Guid="896b5009-06a5-4e7d-a3af-1863e49ad747">
        <File Id="WikiUp.resources.deDE.dll" Name="WikiUp.resources.dll" Source="$(var.WikiUpload_TargetDir)de-DE\WikiUp.resources.dll" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="locale_etEE" Directory="LocaleFolder_etEE">
      <Component Id="WikiUp.resources.etEE.dll" Guid="79bed3b9-93d5-4bea-9a65-583b3b83812d">
        <File Id="WikiUp.resources.etEE.dll" Name="WikiUp.resources.dll" Source="$(var.WikiUpload_TargetDir)et-EE\WikiUp.resources.dll" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductShortcut">
      <Component Id="ApplicationShortcut" Guid="AFA54F3D-5E4C-49A1-96DA-9DB274A15F14" Directory="ProgramMenuFolder">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Wiki-Up" Description="MediaWiki Bulk File Uploader" Target="[#WikiUp.exe]" WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\Aspallar\WikiUp" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>

  </Fragment>
</Wix>
